* {
    font-family: "Poppins", sans-seriff;
}
a {
    text-decoration: none;
    color: #1b75d0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eee;
    font-size: 110%;
}
header {
    border-bottom: 2px solid lightgray;
    padding: 10px;
    background-color: white;
}
#menu {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.v-align {
    display: flex;
    align-items: center;
}
.split {
    display: flex;
    justify-content: space-between;
}
.no-link {
    text-decoration:none;
    color: inherit;
}
.button {
    margin: 5px 10px 5px 0px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #155ca2;
    border-radius: 4px;
    border: none;
}
#main-content {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    flex-grow: 1;
}
footer {
    font-size: 16pt;
    color: white;
    background-color: #222;
    margin-top: auto; 
    text-align: center;
    padding: 15px;
}
.auth-form {
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    margin: auto auto;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.31);
}
.auth-form input[type=text], input[type=password] {
    width: 100%;
}
.auth-form * {
    box-sizing: border-box;
    margin: 3px;
}
.reputation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    width: calc(1em + 10px);
    height: calc(1em + 10px);
}
.mr5 {
    margin-right: 5px; 
}
.gray-border {
    border: 2px gray solid;
    border-radius: 10px;
    padding: 15px;
}

.question {
    display: flex;
    border-bottom: 1px gray solid;
}
.question:last-of-type{
    border-bottom: none;
}

.big-input {
    width: 100%;
    font-size: 1.2em;
}
.tagify {
    font-size: 0.7em;
    width: 100%;
}
.tag {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: #155ca2;
    background-color: #deecfa;
}
.tag:hover {
    background-color: #d6e8fa;
}
.votes {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.votes > a {font-size:45px;}
.outline {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
pre {
    background-color: black;
}