@model QuestionViewModel

<h2>Edit question</h2>
<form method="post" asp-antiforgery="true">
    <div>
        <label>Title</label> <br />
        <input type="text" class="big-input" asp-for="Title" />
        <span asp-validation-for="Title" />
    </div>

    <div>
        <label>Body</label>
        <textarea asp-for="Body"></textarea>
        <span asp-validation-for="Body" />
    </div>

    <div>
        <label>Tags</label> <br />
        <input id="tags" asp-for="SelectedTags">
    </div>

    <div asp-validation-summary="ModelOnly"></div>
    <input class="button" type="submit" value="Save edits" />
</form>

<script>
    const easyMDE = new EasyMDE({
        sideBySideFullscreen: false,
        renderingConfig: {
            codeSyntaxHighlighting: true,
        },
        spellChecker: false,
        uploadImage: true,
        imageUploadEndpoint: "/uploadImage",
        toolbar: ["bold", "italic", "heading", "strikethrough", "|", "quote", "code", "horizontal-rule", "|", "unordered-list", "ordered-list", "clean-block", "|", "link", "image", "upload-image", "|", "fullscreen"],
    });
    easyMDE.toggleSideBySide()

    var tagify = new Tagify(document.querySelector('#tags'), {
        whitelist: @Html.Raw(Json.Serialize(Model.AvailableTags)),
        maxTags: 5,
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
        dropdown: {
            enabled: 0
        }
    })
</script>