@model Answer

<h2>New answer</h2>
<form method="post" asp-antiforgery="true">
    <div>
        <label>Body</label>
        <textarea asp-for="Body"></textarea>
        <span asp-validation-for="Body" />
    </div>

    <div asp-validation-summary="ModelOnly"></div>
    <input class="button" type="submit" value="Send" />
</form>

<script>
    const easyMDE = new EasyMDE({
        sideBySideFullscreen: false,
        renderingConfig: {
            codeSyntaxHighlighting: true,
        },
        spellChecker: false,
        uploadImage: true,
        imageUploadEndpoint: "/uploadImage",
        toolbar: ["bold", "italic", "heading", "strikethrough", "|", "quote", "code", "horizontal-rule", "|", "unordered-list", "ordered-list", "clean-block", "|", "link", "image", "upload-image", "|", "fullscreen"],
    });
    easyMDE.toggleSideBySide()

</script>